body {
  margin: 0px;
  padding: 0px;
  background-color: antiquewhite;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: antiquewhite;
  padding: 2px 20px;
  /* padding-right: 60px; */
  align-items: center;
}

header img {
  width: 190px;
}

.menu {
  display: flex;
  padding-right: 50px;
  font-size: 24px;
  font-weight: 700;
  list-style: none;
}

.menu li {
  margin-left: 25px;
}

footer {
  width: auto;
  height: 100px;
  background-color: antiquewhite;
}

footer p {
  text-align: center;
  color: black;
}

section {
  display: flex;  
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  row-gap: 10px;
  column-gap: 30px;

  padding: 16px;
}

.titulo {
  text-align: center;
  padding-top: 25px;
  color: white;
}

section img {
  width: 300px;  
  height: 200px;
}

section h2 {
  text-align: center;
  font-weight: 700;
}

.main {
  background-color: chocolate;
  color: white;
}

