body, ul {
  margin: 0px;
  padding: 0px;
  background-color: antiquewhite;
}

a {
  color: black;
  text-decoration: none;
  font-family: sans-serif;
}

a:hover {
  background: rgba(0, 0, 0, .05);
}

header {
  box-sizing: border-box;
  display: flex;
  height: 70px;
  justify-content: space-between;
  background-color: antiquewhite;
  padding: 1rem;
  align-items: center;
}

header img {
  width: 190px;
}

.menu {
  display: flex;
  padding-right: 50px;
  font-size: 24px;
  font-weight: 700;
  list-style: none;
}

.menu li {
  margin-left: 25px;
}

.menu a {
  display: block;
  padding: .5rem; /* aumenta area de delimentação do menu */
}

footer {
  width: auto;
  height: 100px;
  background-color: antiquewhite;
}

footer p {
  text-align: center;
  color: black;
}

section {
  display: flex;  
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  row-gap: 10px;
  column-gap: 30px;

  padding: 16px;
}

.titulo {
  text-align: center;
  padding-top: 25px;
  color: white;
}

section img {
  width: 300px;  
  height: 200px;
}

section h2 {
  text-align: center;
  font-weight: 700;
}

.main {
  background-color: chocolate;
  color: white;
}

#btn-mobile {
  display: none;
}

@media (max-width: 600px){
  #btn-mobile {
    display: block;
  }
  .menu {
    display: none;
  }
}

/* https://youtu.be/DnODupiIAiE?t=499 */